@model Store.Models.ProductViewModel
@using Store.Models
@{
    ViewBag.Title = "AddCategoryToProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddCategoryToProduct", "Product", FormMethod.Post, new { @class = "addCatForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <table class="addCatCont">
        <tr>
            <td><a href="@Url.Action("AddNewCategory", "Product", new { productid = Model.ID, callfromproduct=true})" class="addremoveBtn" title="Add Category"><img src="@Url.Content("~/Content/images/post/add.png")" width="25" height="25" alt="add" /></a></td>
            <td><= Add New Category</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @for (int i = 0; i < Model.Categories.Count(); i++)
                {
                    EFDbContext db = new EFDbContext();
                    string catId = Model.Categories[i].Id;
                    bool check = db.ProductCategories.Where(x => x.CategoryId == catId && x.ProductId == Model.ID).Select(x => x.Checked).FirstOrDefault();
                    if (check)
                    {
                        Model.Categories[i].Checked = true;
                        @Html.CheckBoxFor(m => m.Categories[i].Checked)
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.Categories[i].Checked)
                    }

                    @Html.LabelFor(m => m.Categories[i].Checked, Model.Categories[i].Name)
                    @Html.HiddenFor(m => m.Categories[i].Id)<br />
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextBoxFor(m => m.ID, new { type = "hidden" })
                <input class="addCatBtn" type="submit" value="&#x27a5;" />
            </td>
        </tr>
    </table>
}
